/* body{
    background-color: rgb(247, 248, 247);
}

#titulo {
    color: red;
}

#logoInformacoes{
    display: inline-block;
    width: 30%;
    margin-left: 10px;
}

#formularioCliente{
    border: 3px rgb(16, 86, 19) solid;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    flex-direction: row;
    justify-content:space-around;
    width: 50%;
    height: 100%;
    position: relative;
    bottom : 10px;
}

#formularioCliente > label,input{
    font-family: 'Times New Roman';
    font-size: medium;
    margin: 10px;
    
}

#formularioProduto{
    border: 3px rgb(16, 86, 19) solid;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
}

#formularioProduto > label{
    margin-left: 20px;
}

input{
    border-radius: 5px;
    
}




 */

 #formularioCliente{
    margin-bottom: 50px;
}
