#body{
    background-color: rgb(216, 216, 216);
    padding: 50px;
}
#dadosCliente{
    width: 70%;
    border-radius: 30px;
    padding: 20px;
    background-color: #436743;
    color: white;
}

#dadosCliente h5{
    margin: 0 3px 5px 15px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}

#dadosCliente p{
    display: inline-block;
    margin: 0;
    margin-right: 15px;
}

.bloco{
    display: flex;
    
}

.bloco p{
    margin-right: 30px;
    font-family: 'Times New Roman';
    font-size: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espaçamento inferior */
    background-color: rgb(170, 234, 212);
}

/* Estilo para as células de cabeçalho */
th {
    background-color: #f2f2f2; /* Cor de fundo */
    border: 1px solid #dddddd; /* Borda */
    padding: 8px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
}

/* Estilo para células de dados */
td {
    border: 1px solid #dddddd; /* Borda */
    padding: 8px; /* Espaçamento interno */
}

/* Estilo para linhas alternadas (opcional)
tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares 
} */

#valorTotal{
    background-color: red;
}

#formularioCliente{
    padding: 30px;
    background-color: aqua;
    width: 60%;
    border-radius: 20px;
}

#formularioCliente label{
    margin: 0 15px 15px 15px;
    font-size: 15px;
    font-weight: bold;
}

#formularioCliente input textare{
    font-size: 15px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
}
